body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(-1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-1turn);
  }
}
.conic {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  border-radius: 50%;
  background: #000;
  margin: 50px;
}
.conic::before, .conic::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: #333;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, transparent 20%, transparent 100%);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
  z-index: -1;
}
.conic::after {
  background: none;
  background-image: conic-gradient(transparent, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, transparent 20%, transparent 100%);
  filter: blur(10px);
}

.all::before, .all::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: #333;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(#ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
  z-index: -1;
}
.all::after {
  background: none;
  background-image: conic-gradient(#ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff);
  filter: blur(10px);
}

.rect {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  background: #000;
  margin: 50px;
  overflow: unset;
}
.rect::before, .rect::after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background: #333;
  background-image: linear-gradient(45deg, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff, #ff3c41, #ff8a25, #ffe04f, #4fff88, #56ffef, #37b4ff, #c05aff);
  background-size: 500%;
  -webkit-animation: position 12s linear infinite alternate;
          animation: position 12s linear infinite alternate;
  z-index: -1;
}
.rect::after {
  filter: blur(10px);
}

@-webkit-keyframes position {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes position {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}